[submodule "clase3/simple-chat"]
	path = clase3/simple-chat
	url = https://github.com/desche42/simple-chat.git
  branch = template
[submodule "clase2/film-api"]
	path = clase2/film-api
	url = https://github.com/desche42/film-api.git
  branch = template
[submodule "clase4/twitter-firebase-stream"]
	path = clase4/twitter-firebase-stream
	url = https://github.com/desche42/twitter-firebase-stream.git
  branch = template
[submodule "clase4/firebase-login-express"]
	path = clase4/firebase-login-express
	url = https://github.com/desche42/firebase-login-express.git
  branch = template
